.shadow {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
     box-shadow: 3px 3px 5px 6px #ccc;
}
body{
    text-decoration: cornsilk;
    border: 2px shadow grey;
}

button btn:hover{
    
    border-radius: 5px;
    background-color: rgba(0, 162, 255, 0.877);
    border:2px solid  rgba(0, 110, 255, 0.945);
    color: white;
    font-weight: hover;
}



input :valid{
    border: 2px solid rgba(187, 248, 74, 0.747);
}

.form-group{
    width: 80%; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}